<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1> Todo App</h1>

<form action="/add_task" method="POST">
	<input type="text" name="task" />
	<input type="submit" name="submit" value="submit" />
</form>
<ul>

<% all_tasks.each do |task|%>

<% if task["completed"] %>
<li style="text-decoration: line-through;">

<% else %>
<li>

<% end %>


<%= task["content"] %>
	

	<% unless task["completed"] %>

<form action="/mark_complete" method="POST">
<input type="submit" name="complete" value="Mark complete" / >
<input type="hidden" name="content" value="<%= task["content"] %>">
</form>

<% end %>


</li>
<% end %>


</ul>

</body>
</html>